<!-- templates/post.html -->
<!DOCTYPE html>
<html>

<head>
  <title>{{.Post.Title}}</title>
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
  <header class="header">
    <a href="/posts?page={{.CurrentPage}}" class="blog_logo-btn-container">
      <img src="/static/images/blog_icon.png" alt="Blog Icon" class="blog-icon">
      <span class="blog-text">блог</span>
    </a>
    <div class="admin-panel">
      {{if .Authenticated}}
      <div class="user-actions">
        <form action="/logout" method="POST" class="logout-form">
          <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
          <button type="submit" class="logout-btn">Выход</button>
        </form>
        {{if eq .Role "admin"}}
        <a href="/admin/posts/create?fromPage={{.CurrentPage}}" class="create-post">Создать пост</a>
        {{end}}
        <div class="user-info">
          <span class="username">{{.Username}}</span>
          <img src="/static/images/user_icon.png" alt="User Icon" class="user-icon">
        </div>
      </div>
      {{else}}
      <div class="login-btn-container">
        <a href="/login" class="login-btn">Личный кабинет</a>
        <img src="/static/images/user_icon.png" alt="User Icon" class="user-icon">
      </div>
      {{end}}
    </div>
    <link rel="shortcut icon" href="/static/images/favicon_io/favicon.ico" type="image/x-icon">
  </header>

  <main>
    <article>
      <div class="post-page">
        <div class="post-title-solo">
          <div class="post-solo-meta">
            <span class="author">{{.Post.Author}}</span>
            <span class="date">{{.Post.CreationTime.Format "Jan 2, 2006"}}</span>
          </div>
          <h2><a>{{.Post.Title}}</a></h2>
        </div>

        <div class="post-solo">
          <div class="post-solo-content">
            {{.ContentHTML}} <!-- Используем преобразованное поле -->
          </div>
          <div class="post-solo-back">
            <!-- <a href="/posts?page={{.CurrentPage}}" class="back-link">Назад</a> -->
          </div>
        </div>
      </div>
    </article>
  </main>
</body>

<div id="authModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Авторизация</h2>
    <form action="/login" method="POST">
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
      <div class="form-group">
        <label for="username">Пользователь:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit" class="btn-login">Войти</button>
    </form>
  </div>
</div>

<script>
  document.querySelectorAll('.login-btn').forEach(btn => {
    btn.addEventListener('click', function (e) {
      e.preventDefault();
      document.getElementById('authModal').style.display = 'block';
    });
  });

  document.querySelector('.close').addEventListener('click', function () {
    document.getElementById('authModal').style.display = 'none';
  });

  window.onclick = function (event) {
    const modal = document.getElementById('authModal');
    if (event.target === modal) {
      modal.style.display = "none";
    }
  }
</script>

</body>

</html>
